<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= product.name %> </h1>
    <ul>
        <li><p><%= product.category.toUpperCase() %> </p></li>
        <li><p>BUY IT FOR <%= product.price %> </p></li>
        <li><p>Farm: <a href="/farm/<%= product.farm._id %>"> <%= product.farm.name %> </a></p></li>
    </ul>
    
    <a href="/products">Go Back</a> <br> <br>
    <a href="/product/update/<%= product.id %>">Update the Product</a>
    <p>Click <a href="/product/<%= product._id %>/delete">here</a> to delete the product(This uses get route)</p>
    <form action="/product/<%= product._id %>/delete?_method=DELETE" method="POST">
        <button>Delete</button> <span>(This uses delete route.)</span>
    </form>
</body>
</html>